# 01 Data Exploration
I am using the [Telco Customer Churn](https://www.kaggle.com/datasets/blastchar/telco-customer-churn?resource=download) dataset from kaggle.

This dataset contains information about a fictional telco company that provided home phone and Internet services to 7043 customers in California in Q3. It indicates which customers have left, stayed, or signed up for their service. Using this dataset, the goal is to predict customer churn behavior.

- customerID: Unique customer identification code
- gender: male or a female
- SeniorCitizen: Indicates if customer is 65 or older (1 = Y, 0 = N)
- Partner: Has a partner or not (Yes or No)
- Dependents: Lives with any dependents or not (Yes or No)
- tenure: Number of months the customer has stayed with the company
- PhoneService: Has a phone service or not (Yes or No)
- MultipleLines: Has multiple lines or not (Yes, No, No phone service)
- InternetService: Customer's internet service provider (DSL, Fiber optic, No)
- OnlineSecurity: Has online security or not (Yes, No, No internet service)
- OnlineBackup: Has online backup or not (Yes, No, No internet service)
- DeviceProtection: Has device protection or not (Yes, No, No internet service)
- TechSupport: Has tech support or not (Yes, No, No internet service)
- StreamingTV: Has streaming TV or not (Yes, No, No internet service)
- StreamingMovies: Has streaming movies or not (Yes, No, No internet service)
- Contract: Contract term of the customer (Month-to-month, One year, Two years)
- PaperlessBilling: Has paperless billing or not (Yes, No)
- PaymentMethod: Payment method (Electronic check, Mailed check, Bank transfer (automatic), Credit card)
- MonthlyCharges: Amount charged to the customer monthly
- TotalCharges: Total amount charged to the customer
- Churn: Churned or not (Yes or No)

In [1]:
# Data manipulation and analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# set plot style
plt.style.use('default')
sns.set_palette("husl")

# Display options
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [3]:
# Load the dataset
df = pd.read_csv('../data/Telco-Customer-Churn.csv')
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
# See number of features and observations
df.shape

(7043, 21)

In [7]:
# See if there are any null values
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [9]:
# Checking for duplication
df.duplicated().sum()

0

In [11]:
# Checking data types
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [25]:
# See distribution of target variable
df['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [27]:
# Viewing unique values contained in each feature
df.nunique()

customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

## Data Cleaning
Data Cleaning tasks that I need to do:
- Drop customerID column
- Fix datatype for TotalCharges field to numeric
- Mark missing values in TotalCharges as NaN

TotalCharges are Nan because they were new customers who hadn't been charged yet. None of them have churned either.

In [37]:
# Drop customerID column
df.drop('customerID', axis=1, inplace=True)
df.head(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [43]:
# Converting TotalCharges column to numeric and marking errors like ' ' as NaNs
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
print(f"Updated datatype: {df['TotalCharges'].dtypes}")
print(f"Total Null values created: {df['TotalCharges'].isna().sum()}")

Updated datatype: float64
Total Null values created: 11

In [53]:
# Check distribution of numeric features
df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7043.000000  7043.000000     7043.000000   7032.000000
mean        0.162147    32.371149       64.761692   2283.300441
std         0.368612    24.559481       30.090047   2266.771362
min         0.000000     0.000000       18.250000     18.800000
25%         0.000000     9.000000       35.500000    401.450000
50%         0.000000    29.000000       70.350000   1397.475000
75%         0.000000    55.000000       89.850000   3794.737500
max         1.000000    72.000000      118.750000   8684.800000